<div class="span10">

<% unless @companies.present? %>
  <div class="list-top-query" id="list-top-query">
      <h5>Примеры запросов:</h5>
      <ul>
        <li><a href="/?q=Офисная+бумага" title="title">Офисная бумага</a></li>
        <li><a href="/?q=Мебель" title="title">Мебель</a></li>
        <li><a href="/?q=Заправка+картриджей" title="title">Заправка картриджей</a></li>

        <li><a href="/?q=Бухгалтерские+услуги" title="title">Бухгалтерские услуги</a></li>
        <li><a href="/?q=Кофе" title="title">Кофе</a></li>
        <li><a href="/?q=Разработка+сайтов" title="title">Разработка сайтов</a></li>

        <li><a href="/?q=Продвижение" title="title">Продвижение</a></li>

      </ul><!-- / -->
  </div>
<% end %>
  <% if @companies.present? %>
    <% @companies.each do |company| %>
       <h3><%= company.title %></h3>
      <p> <%= company.overview %><br />
          <%= company.addr %><br />
          <%= company.contact%>
      </p>
    <% end %>
  <% end %>
</div>