<p>Добрый день, <%= @username %>!</p>

<p>Более 3-х месяцев назад Вы добавили данные о <%= @company_name %> на ресурс <a href="http://melezha.by">http://melezha.by</a></p>

<p>Если информация все еще актуальна, Вам необходимо перейти по ссылке <a href="http://melezha.by/companies">http://melezha.by/companies</a>, нажать Редактировать напротив компании, проверить актуальность информации, при необходимости обновить информацию и нажать Сохранить.</p>

<p>Все компании, информация о которых не обновлялась более 4-х месяцев будут удалены из базы.</p>

---<br>
С уважением и пожеланиями успеха в вашем деле!<br>
Команда Мележа.by