<p>Добрый день, <%= @username %>!</p>

<p>Более 3-х месяцев назад Вы добавили информацию про <%= @company_name %> на <a href="http://melezha.by">Мележа.by</a></p>

<p>Если информация все еще актуальна, Вам необходимо перейти по ссылке <a href="http://melezha.by/companies">http://melezha.by/companies</a>, нажать Редактировать, проверить актуальность информации, при необходимости обновить и нажать Отправить.</p>

<p>Наш ресурс призван упростить поиск услуг и товаров на улице Мележа и в округе, поэтому, если Вы переехали довольно далеко, пожалуйста, удалите информацию о себе.</p>

<p>Информация, которая не обновлялась более 4-х месяцев будет удалена из базы.</p>

---<br>
С уважением и пожеланиями успеха в Вашем деле!<br>
Команда Мележа.by