/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


body { padding-top: 60px !important; font-family: Arial !important; }

#main-search-form { position: relative; margin: 00px auto 0 -150px;}
#page { padding: 64px 0 0 0; }

#list-top-query { margin: 0 0 0 -22px; }
#list-top-query ul li {  list-style:none; line-height: 20px;}
#list-top-query h5 { margin: 0 0 0 24px; }
.logo_for_edit { margin: 0 0 10px 140px; }
.main-input-search { font-size: 16px; padding: 8px 9px 10px 9px;}