<p>Привет <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля на Мележа.by. Если это были Вы, то сменить пароль Вы можете перейдя по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если это были не Вы просто игорируйте это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор пока вы не передете по ссылке выше и не смените его.</p>

---<br>
С уважением и пожеланиями успеха в вашем деле!<br>
Команда Мележа.by
