<div class="span14">
	<% @companies_all.each do |company| %>
       	<a href="/?q=<%= h(company.title) %>"><%= company.title %></a><br>
    <% end %>
    Всего компаний: <%= @companies_total.id %>
</div>
