<div class="span14">
		<table>
		<% @companies_all.each do |company| %>
			<tr>
	       		<td><a href="/?q=<%= h(company.title) %>"><%= company.title %></a></td>
	       	</tr>
	    <% end %>
	    </table>
    Всего компаний: <%= @companies_total.id %>
</div>
